{% extends 'base.html.twig' %}

{% block title %}Cedric Mangel - Contact{% endblock %}

{% block body %}
	<div style="height: 320px">	
        <!-- just to make scrolling effect possible -->
		<h2 class="myH2">Contactez-moi</h2>
		<p class="myP">Vous pouvez directement me contacter en m'envoyant un email</p>

	<div class="mail myP">
		{{ form_start(form) }}
		{{ form_row(form.email) }}
		{{ form_widget(form.text) }}
		{{ form_row(form.send) }}
		{{ form_end(form) }}

		{% for message in app.flashes('success') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}
	</div>
	</div>
	<div>
        <!-- just to make scrolling effect possible -->

		<p class="logo_sn">logo LinkedIn</p>
		<p class="logo_sn">GitHub</p>
		<p class="logo_sn">Twitter</p>
	
	</div>
		

{% endblock %}
