{% extends 'base.html.twig' %}

{% block title %}Cedric Mangel - Contact{% endblock %}

{% block body %}
	<div style="height: 800px">	
        <!-- just to make scrolling effect possible -->
		<h2 class="myH2">Contactez-moi</h2>
		<p class="myP">Vous pouvez directement me contacter en m'envoyant un e-mail ou en cliquant sur un lien en bas de page</p>

	<div class="mail myP">
		{{ form_start(form) }}
		{{ form_row(form.email) }}
		{{ form_widget(form.text) }}
		{{ form_row(form.send) }}
		{{ form_end(form) }}

		{% for message in app.flashes('success') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}
	</div>
	</div>
	<div class="footer_link">
        <!-- just to make scrolling effect possible -->
		{% for link in links %}
		{% set img = 'uploads/'~ link.image %}
		<a href="{{ link.linkurl }}" target="blank"><img class="link_image" src="{{ img|imagine_filter('custom_filter') }}" alt="{{ link.image }}"/></a>
		{% endfor %}
	</div>
		

{% endblock %}
