{% extends 'base.html.twig' %}

{% block title %}Cedric Mangel - Mes réalisations{% endblock %}

{% block body %}

<div style="height: 1000px">
    <h2 class="myH2">Mes réalisations</h2>
    <div class="card myP">
    {% for project in projects %}
        <div class="singleCard">
            {% set img = 'uploads/'~ project.image %}
            <h5><a class="project_link" href="{{ project.projectLink }}"> {{ project.name }} </a></h5>
            <img class="project_image" src="{{ img|imagine_filter('custom_filter') }}" alt="{{ project.image }}"/>
            <p>{{ project.description }}</p>
        </div>
          
    {% endfor %}
</div>
{% endblock %}
