<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}
    </head>
    <body>
        
        <nav class="nav">
        <div class="container">
            <div class="logo">
                <a href="#"><img src="{{ asset('images/Logo.png') }}" width="100" height="90" alt="logo"></a>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li><a href="{{path('education')}}">Formation</a></li>
                    <li><a href="{{path('skills')}}">Compétences</a></li>
                    <li><a href="{{path('portfolio')}}">Portfolio</a></li>
                    <li><a href="{{path('contact')}}">Contactez-moi</a></li>
                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>

    <section class="home">
    </section>
   
        {% block body %}
        {% endblock %}

        {% block javascripts %}
            <!-- Jquery needed -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="{{ asset('app.js') }}"></script>

            <!-- Function used to shrink nav bar removing paddings and adding black background -->
            <script>
                $(window).scroll(function() {
                    if ($(document).scrollTop() > 50) {
                        $('.nav').addClass('affix');
                        console.log("OK");
                    } else {
                        $('.nav').removeClass('affix');
                    }
                });
            </script>
        {% endblock %}
    </body>
</html>
